.container{
    width: 1050px;
    height: 1050px;
    border-style: solid;
    position: relative;
}
.box{
width: 250px;
height: 250px;
border-style: solid;
border-radius: 20px;
text-align: center;
}
.purple{
    background-color: rgb(220, 148, 148);
    position:relative;
    top:10px;
    left:20px;
}
.red{
    background-color: rgb(108, 88, 63);
    position: absolute;
    right: 10px;
}
.yellow{
    background-color: rgb(181, 181, 234);
    position: sticky;
    top:0px;
}
.orange{
    background-color: rgb(179, 231, 214);
    position: fixed;
    /* right: 10px; */
}