@import url('https://fonts.googleapis.com/css2?family=Caramel&family=La+Belle+Aurore&family=Open+Sans&family=Oswald:wght@300&family=Rubik+Gemstones&display=swap');
body{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(178,172,136);
    color: rgb(246, 246, 203);
}
.options{
    /* background-color:beige; */
    overflow: hidden;
    /* color: beige; */
    top:10px;
    position: fixed;
    /* margin-top:30px; */
    margin-left:1000px;
}
.options a{
    /* float:left; */
    text-align:center;
    
    font-size: 25px;
}
.options a:link{
    color: rgb(0, 0, 0);
}
.options a:visited{
    color: rgb(246, 246, 203);
}
.options a:hover{
    
        background-color: beige;
        color: rgb(126, 149, 114);
}

img{
    width: 50px;
    height: 50px;
    border-radius: 24px;
}
#social{
    /* margin-top: -20px; */
    font-size: 40px;
    text-align: center;
}
#p1{
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}
footer{
    font-size: 20px;
    text-align: center;
    }
#read{
    /* margin-top: 50px; */
    font-size: 40px;
    text-align: center;
}
/* for tablets */
@media screen and (min-width:481px)and (max-width:768px){
    .options {
        /* background-color: beige; */
        /* overflow: hidden; */
        /* color: beige; */
        top: 10px;
        position: fixed;
        /* margin-top: 30px; */
        margin-left: 552px;
    }
}
/* for mobiles */
@media screen and (min-width:320px)and (max-width:480px){
    .options {
        font-size: 146px;
        /* background-color: beige; */
        overflow: inherit;
        /* color: beige; */
        top: 10px;
        position: fixed;
        margin-top: -52px;
        margin-left: 5px;
        line-height: 0px;
    }
    .options a {
        /* float: left; */
        text-align: center;
        font-size: 16px;
    }
}